/* width:"20vw",height:"33vh" */

.img-popular{
    width:20vw;
    height:33vh;
}

.movies{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}


@media only screen and (max-width: 600px) {
    .img-popular{
        width:80vw;
        height:40vh;
    }
  }